<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904729404810-l3vd9cgra40o8anln760sqbovdfshkrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904729404810-l3vd9cgra40o8anln760sqbovdfshkrf</string>
	<key>API_KEY</key>
	<string>AIzaSyAZXogAJBFWQKqJTJxO8vx3VfquFK3xp80</string>
	<key>GCM_SENDER_ID</key>
	<string>904729404810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.rork.shiftvoice</string>
	<key>PROJECT_ID</key>
	<string>shiftvoicerork</string>
	<key>STORAGE_BUCKET</key>
	<string>shiftvoicerork.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904729404810:ios:1ecb6388dbcb2f0ebd5473</string>
</dict>
</plist>